.section {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.section>h2 {
    margin-bottom: 50px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 20rem), 1fr));
    grid-auto-rows: max-content;
    gap: 1rem;
    width: 100%;
    text-align: left;
}