.container {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
    justify-items: center;
    width: 100%;
    margin-bottom: 50px;
}

.information {
    font-size: var(--text-title);
    margin-left: 10px;
}

.information>h1 {
    color: var(--text-skyblue);
    margin-top: 5px;
    width: max-content;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.15em solid var(--text-skyblue);
    animation: typing 4s steps(19) 1s 1 normal both, blink 1s steps(1) infinite;
}

.drawerPaper {
    background-color: var(--background) !important;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@media screen and (max-width: 690px) {
    .container {
        height: max-content;
        margin-top: 5rem;
        text-align: center;
        grid-template-columns: 1fr;
    }
    .container>img {
        display: none;
    }
    .information>h1 {
        white-space: unset;
        width: 100%;
        animation: none;
        border-right: none;
    }
}