.container {
    align-items: center;
    display: flex;
    height: 70px;
    justify-content: space-between;
    max-width: 100%;
    padding-left: 10px;
    position: fixed;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    z-index: 10;
}

.Icon {
    height: 100%;
}

.items {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(5, max-content);
    justify-content: end;
    width: inherit;
    list-style: none;
    overflow: auto;
}

.item:hover,
.active_item {
    color: var(--text-skyblue);
    cursor: pointer;
}

.active_item {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
}

.drawerPaper {
    width: 100%;
}

.contentDrawer {
    width: 100%;
    /* padding: 10px; */
}

.contentDrawer>header {
    position: relative;
    display: flex;
    padding: 10px;
    justify-content: flex-end;
}

.contentDrawer>header>* {
    font-size: var(--text-title);
}

.mobile {
    display: none;
}

.background {
    background-color: rgba(40, 44, 52, 0.9);
}

@media screen and (max-width: 550px) {
    .mobile {
        display: flex;
        justify-content: flex-end;
    }
    .desktop {
        display: none;
    }
    .items {
        grid-template-columns: 1fr;
        gap: 3rem;
        text-align: center;
        justify-items: center;
        align-items: center;
        width: 100%;
        padding: 0px;
        font-size: var(--text-title);
    }
}